
/*estilo del menu*/
header div.contenedor{
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:cadetblue;
}
#menu-abrir:hover{
    color:red;
}
header div.contenedor nav{
    display:none;
    background-color:rgba(6, 3, 39, 0.168);
   
}
header div.contenedor nav.visualizar{
    display:block;

}

#menu-check{
    display:none;
}
#menu-cerrar{
    display:none;
}

#menu-check:checked ~ label #menu-abrir{
    display:none;
}

.cont-menu.salir .cont-menu-abrir{
    display:none;
}
.cont-menu.salir .cont-menu-cerrar{
    display:block;   
}

.cont-menu a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cont-menu a:hover{
    color:burlywood;
}

/*Estilo foto y Encabezado*/
.foto {
    width: 150px;
    height: 250px;
    position: absolute;
}
h1 {
    position: absolute;
    justify-content: center;
    text-decoration: underline;
    padding-left : 500px;
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom:10px;
    color:rgb(192, 192, 192);
    font-weight: bold ;
    font-size: 75px;
    font-family: 'Open Sans', sans-serif;

     }

     /*sección información personal*/
    
legend{
        color: white;
        font-weight: bold;
        text-decoration:underline;
     }
.sobremi{
    padding-left: 100px;
    font-style: italic;
    color: silver;
      
     }

     /*cuerpo del proyecto*/

body {
    background-color: rgba(1, 21, 36, 0.776);
    color: rgb(255, 255, 255);
    }

fieldset{
    border-color: rgb(233, 78, 12);
}

p1{ 
    place-items: align-self center;
    font-size: 15px;
    font-family: 'Unbounded', cursive;
    width: fit-content;
    color: whitesmoke;
    
}

p2{
    place-items: align-self center;
    font-size: 15px;
    font-family: 'Unbounded', cursive;
    width: fit-content;
    color: whitesmoke;

}



h2{
    text-decoration: underline;
    font-size: 30px;
    width: fit-content;
    color: whitesmoke;
}
h2:hover{
    color: burlywood;
}

/*pie de página*/


h3{
    text-decoration: underline;
    text-decoration-color: rgb(233, 78, 12);    
}
h3:hover{
    color: burlywood;
}
footer{
    font-size: 18px;
    width: fit-content;
    color: mediumslateblue;
   
}
a:-webkit-any-link {
    font-size: 18px;
    width: fit-content;
    color: mediumslateblue;
    padding-left: 5px;
}

a:-webkit-any-link:hover{
    color: burlywood;
}