
/*estilo del menu*/
header div.contenedor{
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:cadetblue;
    position: fixed;
    z-index: 100;
    padding-bottom:20px;
}
header div.aviso_selector{
    color:rgb(71, 89, 252);
}
header div.aviso_selector:hover{
    color:rgb(255, 0, 0);
}

header div.contenedor nav{
    display:none;
    background-color:rgba(255, 255, 255, 0);   
}

header div.contenedor nav.visualizar{
    display:block;
    position: fixed;
    z-index:1000;
    background-color: rgba(0, 0, 0, 0.4);
    height: fit-content;
   
}

#menu-abrir:hover{
    color:red;
}
#menu-check{
    display:none;
}
#menu-cerrar{
    display:none;
}

#menu-check:checked ~ label #menu-abrir{
    display:none;
}

.cont-menu.salir .cont-menu-abrir{
    display:none;
}
.cont-menu.salir .cont-menu-cerrar{
    display:block;   
}
.cont-menu a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*Estilo foto y Encabezado*/
.foto {
    width: 175px;
    height: 250px;
    position: absolute;
}
h1 {
    position: absolute;
    justify-content: center;
    text-decoration: underline;
    padding-left : 500px;
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom:10px;
    color:rgb(192, 192, 192);
    font-weight: bold ;
    font-size: 75px;
    font-family: 'Open Sans', sans-serif;

     }

     /*sección información personal*/
    
legend{
        color: white;
        font-weight: bold;
        font-size: 25px;
        text-decoration:underline;
     }

p1{
   
    font-style: italic;
    color: silver;
    font-size: 30px;
}

     /*cuerpo del proyecto*/

body {
       
        background-color: rgba(1, 21, 36, 0.776);
        color: rgb(255, 255, 255);
    }
   

fieldset{
   
    border-color: rgb(193, 12, 233);
}

p2{ 
    place-items: align-self center;
    font-size: 15px;
    font-family: 'Unbounded', cursive;
    width: fit-content;
    color: whitesmoke;
    
}

div.subtitulo{
    font-size: 20px;
    text-decoration:underline;
    text-decoration-color: rgb(195, 132, 209) ;
}

p3{
    place-items: align-self center;
    font-size: 15px;
    font-family: 'Unbounded', cursive;
    width: fit-content;
    color: whitesmoke;

}



h2{
    text-decoration: underline;
    font-size: 30px;
    width: fit-content;
    color: whitesmoke;
}
h2:hover{
    color: burlywood;
}

/*pie de página*/


h3{
    text-decoration: underline;
    text-decoration-color: rgb(198, 84, 223); 
    color:rgb(205, 229, 241);   
    font-family:Arial, Helvetica, sans-serif;
}
h3:hover{
    color: burlywood;
}
footer{
    font-size: 18px;
    width: fit-content;
    color: mediumslateblue;
   
}
a:-webkit-any-link {
    font-size: 18px;
    color: rgb(207, 200, 235);
    padding-left: 5px;
}


a:-webkit-any-link:hover{
    color: rgb(117, 212, 206);
    font-family:monospace;
}
